<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>$(APP_BASE_URL)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(APP_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(APP_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CoreDateContainerName</key>
	<string>$(APP_CORE_DATA_CONTAINER_NAME)</string>
	<key>FirebaseConfigFileName</key>
	<string>$(GOOGLE_SERVICE_INFO_PLIST_FILENAME)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tel</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBonjourServices</key>
	<array>
		<string>_adhp._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This permission is for Woodpecker App for debugging purposes and will be used in the debug mode only.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Almaria_Bold.ttf</string>
		<string>Frutiger_lt_Arabic_55_Roman.ttf</string>
		<string>Tungsten_Medium.ttf</string>
		<string>Tungsten_Bold.ttf</string>
		<string>Cera_Pro_Regular.ttf</string>
		<string>Cera_Pro_Bold.ttf</string>
		<string>Cera_Pro_Light.ttf</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Needed to get location latitude and longitude for testing purposes</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Needed to get location latitude and longitude for testing purposes</string>
</dict>
</plist>
